<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alibaba.sdk.android.kernel" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application android:allowBackup="true" >
        <activity android:name="com.alibaba.sdk.android.trade.ui.TradeWebViewActivity" >
            <intent-filter>
                <action android:name="COM_TAOBAO_TAE_SDK_TRADE_WEB_VIEW_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.alibaba.sdk.android.trade.ui.NativeTaobaoClientActivity"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="23052432.nativeTaobao"
                    android:scheme="alisdk" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity android:name="com.alibaba.sdk.android.login.ui.LoginWebViewActivity" />
        <activity android:name="com.alibaba.sdk.android.login.ui.QrLoginConfirmActivity" />
        <activity
            android:name="com.alibaba.sdk.android.login.ui.QrLoginActivity"
            android:theme="@style/tae_sdk_login_qr_activity_style" />
        <activity android:name="com.alibaba.sdk.android.webview.BaseWebViewActivity" />

        <receiver
            android:name="com.alibaba.sdk.android.hotpatch.HotPatchBroadcastReceiver"
            android:exported="false"
            android:process=":hotpatch" >
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.hotpatch.action.HOT_PATCH" />
            </intent-filter>
        </receiver>
    </application>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

</manifest>